body {
    font-size: 1.6rem;
    font-family: $base-font-family;
}

.container {
    width: 100%;
    max-width: $max-page-width;
    margin: 0 auto;
    padding: 0 10px;
}

.paragraph {
    line-height: 1.7;
}