//-------------
//import font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext');
//-------------
$max-page-width: 1024px;

//font
$base-font-family: 'Roboto',
sans-serif;
$base-font-size: 10px;

//colors 
$tooltip-word-color: #636e72;
$tooltip-bgc: #74b9ff;
$tooltip-color: #2d3436;