//-------------
//import font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext');
//-------------
$max-page-width: 1024px;

//font
$base-font-family: 'Roboto',
sans-serif;
$base-font-size: 10px;

//colors 
$menu-bgc: #f7d794;
$menu-link-bgc: #303952;
$menu-text-color: #cf6a87;